USE [master]
GO
/****** Object:  Database [DISCOS_DB]    Script Date: 12/7/2022 10:22:03 ******/
CREATE DATABASE [DISCOS_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DISCOS_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DISCOS_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DISCOS_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DISCOS_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DISCOS_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DISCOS_DB]
GO
/****** Object:  Table [dbo].[DISCOS]    Script Date: 12/7/2022 10:22:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISCOS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](100) NULL,
	[FechaLanzamiento] [smalldatetime] NULL,
	[CantidadCanciones] [int] NULL,
	[UrlImagenTapa] [varchar](200) NULL,
	[IdEstilo] [int] NULL,
	[IdTipoEdicion] [int] NULL,
 CONSTRAINT [PK_DISCOS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTILOS]    Script Date: 12/7/2022 10:22:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTILOS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NULL,
 CONSTRAINT [PK_ESTILOS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOSEDICION]    Script Date: 12/7/2022 10:22:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOSEDICION](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_TIPOSEDICION] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DISCOS] ON 

INSERT [dbo].[DISCOS] ([Id], [Titulo], [FechaLanzamiento], [CantidadCanciones], [UrlImagenTapa], [IdEstilo], [IdTipoEdicion]) VALUES (1, N'Pablo Honey', CAST(N'1992-01-01T00:00:00' AS SmallDateTime), 12, N'https://cdns-images.dzcdn.net/images/cover/f08424290260e58c6d76275253b316fd/264x264.jpg', 2, 1)
INSERT [dbo].[DISCOS] ([Id], [Titulo], [FechaLanzamiento], [CantidadCanciones], [UrlImagenTapa], [IdEstilo], [IdTipoEdicion]) VALUES (3, N'El amor despues del amor', CAST(N'2022-07-04T18:24:00' AS SmallDateTime), 10, N'', 3, 1)
SET IDENTITY_INSERT [dbo].[DISCOS] OFF
GO
SET IDENTITY_INSERT [dbo].[ESTILOS] ON 

INSERT [dbo].[ESTILOS] ([Id], [Descripcion]) VALUES (1, N'Pop Punk')
INSERT [dbo].[ESTILOS] ([Id], [Descripcion]) VALUES (2, N'Pop')
INSERT [dbo].[ESTILOS] ([Id], [Descripcion]) VALUES (3, N'Rock')
SET IDENTITY_INSERT [dbo].[ESTILOS] OFF
GO
SET IDENTITY_INSERT [dbo].[TIPOSEDICION] ON 

INSERT [dbo].[TIPOSEDICION] ([Id], [Descripcion]) VALUES (1, N'Vinilo')
INSERT [dbo].[TIPOSEDICION] ([Id], [Descripcion]) VALUES (2, N'CD')
INSERT [dbo].[TIPOSEDICION] ([Id], [Descripcion]) VALUES (3, N'Tape')
SET IDENTITY_INSERT [dbo].[TIPOSEDICION] OFF
GO
USE [master]
GO
